---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import {ArrowRight} from '@lucide/astro'
import PostCard from "../components/PostCard.astro"
import { formatPosts } from "../constants"

const allPosts = await Astro.glob('./writing/*.md')
const formattedPosts = formatPosts(allPosts);
const featuredPost = formattedPosts.find((post: any) => post.frontmatter.featured) ?? formattedPosts[0];

---

<Layout title="Sahilow Blog" description='Home Page'>
	<section class="py-40 md:py-48">
		<div class="relative flex flex-col justify-center items-center text-center">

			<div class="absolute inset-0 flex justify-center items-center -z-10">
				<div class="h-72 max-sm:w-52 w-100 rounded-full bg-white opacity-10 blur-3xl translate-y-28"></div>
			</div>

			<h1 class="flex flex-col  max-sm:text-5xl text-6xl">
				<span>thoughts in</span> 
				<span class="text-neutral-400">digital form</span>
			</h1>
		</div>
		<div class="max-w-2xl mx-auto mt-6">
			<p class="text-neutral-400 text-center p-2">
				A collection of ideas, observations, and learnings from the intersection of technology and human experience.
			</p>
		</div>
		<div class="flex justify-center my-5 items-center">
			<Link href={'/writing'} label={'Browse writings'} classes="border border-neutral-800 py-3 px-4 rounded hover:bg-white/10">
				<ArrowRight slot={'icon'} size={16}/>
			</Link>
		</div>
	</section>

	<section class="px-2">
		<div>
			<h2 class="text-neutral-400 uppercase text-xs py-5">Featured</h2>
            {
                featuredPost && (
                    <div>
                        <PostCard frontmatter={featuredPost.frontmatter} url={featuredPost.url}/>
                    </div>
                )
            }
        </div>

		<div>
			<h2 class="text-neutral-400 uppercase text-xs py-5">Recent</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-5">
				{
					formattedPosts.map((post : any) => <PostCard frontmatter={post.frontmatter} url={post.url}/>)
				}
			</div>
		</div>

		<div class="flex justify-center items-center py-20">

			<Link href={'/writing'} label={"view archive"} classes={'text-sm text-neutral-400 hover:text-white'} >
				<ArrowRight slot={"icon"} size={12}/>
			</Link>

		</div>
    </section>
</Layout>
