---
import Link from "./Link.astro";
import { ArrowRight, Calendar, Clock, User } from "@lucide/astro";
import {slugify} from '../constants/'

const { frontmatter } = Astro.props

const {title, date, readTime, category, image} = frontmatter;
---

<header class="py-5">
    <div class="space-y-3">
        <div class="flex justify-between items-center">
            <Link href={`/category/${slugify(category)}`} label={category} classes="text-neutral-400 uppercase text-sm hover:text-white" />
            <Link href={`/category`} label={"More Categories"} classes="text-neutral-400 uppercase text-sm hover:text-white">
                <ArrowRight slot={'icon'} size={14}/>
            </Link>                    
        </div>

        <img 
            src={image.src} 
            alt={image.alt}
            class="bg-cover object-cover object-center w-full h-[550px] rounded shadow"
        />

        <h1 class="text-3xl">{title}</h1>
        <div class="flex gap-4 text-neutral-400 text-sm">
            <div class="flex items-center gap-1">
                <Calendar size={14}/>
                <span>{date}</span>
            </div>
            <div class="flex items-center gap-1">
                <Clock size={14}/>
                <span>
                    {readTime} min read
                </span>
            </div>
            <div class="flex items-center gap-1">
                <User size={14}/>
                <span>Sahilo</span>
            </div>
        </div>
    </div>
</header>