---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro"
import PostCard from "../../components/PostCard.astro"
import Link from "../../components/Link.astro"
import { formatPosts } from "../../constants"
import { ArrowRight } from "@lucide/astro"
import Pagination from "../../components/Pagination.astro";


export const getStaticPaths:GetStaticPaths = async ({paginate}) => {
    const allPosts = await Astro.glob('./*.md')
    const formattedPosts = formatPosts(allPosts);

    return paginate(formattedPosts, {
        pageSize: 6,
    })
};

const { page } = Astro.props as any;
console.log(page);


---

<Layout title="Sahilow Writing" description='Thoughts an ideas of Sahilo'>
	<section class="px-5 pt-28 md:pt-36">
        <div class="flex justify-between items-center mb-4">
            <span class="text-xl md:text-3xl">Writings</span>
            <Link href="/category" label={'Browse categories'} classes="flex items-center text-neutral-400 hover:text-white group px-2">
                <ArrowRight slot={'icon'} size={14} class="group-hover:translate-x-2 transition duration-200"/>
            </Link>
        </div>

        <hr class="text-neutral-800"/>
   
        <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-5">
            {
                page.data.map((post : any) => <PostCard frontmatter={post.frontmatter} url={post.url}/>)
            }
        </div>

        {
            page.lastPage > 1 && (
                <div class="mt-20">
                    <Pagination prevURL={page.url.prev} nextURL={page.url.next}/>
                </div>
            )
        }
    </section>
</Layout>
